.movie-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .movie-poster {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .movie-info {
    text-align: left;
    width: 100%;
  }
  
  .movie-title {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .movie-info p {
    margin: 5px 0;
  }
  
  .movie-info strong {
    color: #333;
  }
  